# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.PropertyChanged.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\source\reactivemarbles\PropertyChanged\src\.idea\.idea.PropertyChanged\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
